<div class="container">
    <div class="card">
        <h3 class="card-header">Logare</h3>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">E-mail</label>
                    <input type="email" placeholder="E-mail" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors}">
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">E-mail incorect</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Parola</label>
                    <input type="password" placeholder="Parolă" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors}">
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Parolă incorectă</div>
                    </div>
                </div>
                <div class="mb-3">
                    <a routerLink="../forgotPassword" class="btn btn-link text-left mb-2">Ai uitat parola?</a>
                </div>
                <div class="text-center">
                    <button [disabled]="loading" type="submit" class="btn btn-primary text-center">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Logare
                    </button>
                </div>
                <div class="mb-1 text-center">
                    <a routerLink="../register" class="btn btn-link text-center">Creează-ți un cont</a>
                </div>
            </form>
        </div>
    </div>
</div>