.container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
}

.prev-arrow {
  border: none;
  background-color: transparent;
}

.next-arrow {
  margin-left: 3px;
  border: none;
  background-color: transparent;
}

i.fas.fa-arrow-right {
  color: #333;
  font-size: 20px;
}

i.fas.fa-arrow-left {
  color: #333;
  font-size: 20px;
  margin-right: 4px;
}

i.fas.fa-arrow-right:hover {
  color: #EEE9DA;
}

i.fas.fa-arrow-left:hover {
  color: #EEE9DA;
}

.arrow-container {
  display: flex;
  position: relative;
}

.form-control {
  border: 2px solid #333;
  border-radius: 30px;
  text-align: end;
  font-size: 75%;
  position: relative;
  bottom: 0px;
  color: #333;
}

/*----table-----*/
.table-responsive {
  border-radius: 0px;
}

.table {
  text-align: center;
  font-size: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.custom-header-box {
  background-color: #6096B4;
}

.custom-tr1 {
  background-color: #6096B4;
  /* border-radius: 18px 18px 0 0; */
}

.custom-tr {
  border-radius: 0 0 24px 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.custom-td {
  vertical-align: middle;
  border-bottom: none;
  font-size: 90%;
  padding: 15px;
}

.custom-th {
  color: #fff;
  vertical-align: middle;
  border-style: none;
  padding: 12px;

}

.custom-th1 {
  color: #fff;
  vertical-align: middle;
  border-style: none;
  border-radius: 13px 0 0 0;
}

.custom-th2 {
  color: #fff;
  vertical-align: middle;
  border-style: none;
  border-radius: 0 13px 0 0;
}

.custom-th span {
  font-weight: 100;
}

#ist_test{
  border-style: none;
}

/*----add-nurse-button---*/

.entiry-button {
  position: relative;
  top: 8px;
}

.plus-icon {
  position: absolute;
  top: 31px;
  width: 23px;
  height: 7px;
  background-color: #BDCDD6;
  border-radius: 2px;
  cursor: pointer;
  border: none;
}

.plus-icon::before {
  content: "";
  position: absolute;
  left: 8px;
  top: -8px;
  height: 23px;
  width: 7px;
  background-color: #BDCDD6;
  border-radius: 2px;
}

.plus-icon:hover {
  background-color: #EEE9DA;
}

.plus-icon:hover::before {
  background-color: #EEE9DA;
}


.circle-button {
  position: absolute;
  top: 14px;
  height: 42px;
  width: 43px;
  background-color: #fff;
  border-radius: 50px;
}

.mask-button {
  position: relative;
  height: 55px;
  width: 70px;
  background-color: #6096B4;
  border-radius: 50px 50px 0 0;
}

.mask-button::before {
  content: "";
  position: absolute;
  left: 68.5px;
  background-color: transparent;
  bottom: 0px;
  height: 28px;
  width: 80px;
  border-bottom-left-radius: 30px;
  box-shadow: -30px 0px 0 0 #6096B4;
}

.mask-button::after {
  content: "";
  position: absolute;
  right: 69px;
  background-color: transparent;
  bottom: 0px;
  height: 28px;
  width: 80px;
  border-bottom-right-radius: 30px;
  box-shadow: 30px 0px 0 0 #6096B4;
}
