.card {
    /*background-color: #d5d5d5;*/
    max-width: 450px;
    font-size: larger;
    margin: 0 auto; /* center the card horizontally */
    margin-top: 90px; /* add some space on top */
    text-decoration: none;
    background-color: #bdcdd6;
  }
  .btn-link{
    text-decoration: none;
    font-style: italic;
    color:#6096b4;
  }
  .btn-primary:active{
    background-color: #40667a;
  }
  .btn-primary:hover{
    background-color: #40667a;
  }
  
  .btn-link:hover{
    color:#40667a;
  }
  .btn-link:active{
    color:#40667a;
  }
  .btn-primary{
    min-width: 85%;
    font-size: large;
    background-color: #6096b4;
  }
  .card-header{
    text-align: right;
    font-size: larger;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Didact Gothic', monospace;
    color: #090847;
  }
  .container{
    font-family: 'Barlow', sans-serif;
  }