<div class="container">
    <div class="card">
        <h3 class="card-header">Resetare parola</h3>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="mb-3">
                    <label class="form-label">Parola noua</label>
                    <input type="password" placeholder="Parolă nouă" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f['password'].errors}">
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Parolă incorectă</div>
                        <div *ngIf="f['password'].errors['minlength']">Parola trebuie sa aiba minim 8 caractere</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirma parola</label>
                    <input type="password" placeholder="Reintroduceți noua parolă" formControlName="confirmPassword" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors}">
                    <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']">Parolă incorectă</div>
                        <div *ngIf="f['confirmPassword'].errors['minlength']">Parola trebuie sa aiba minim 8 caractere</div>
                        <div *ngIf="f['confirmPassword'].errors['confirmedValidator']">Parola introdusa nu se potriveste cu confirmarea ei</div>
                    </div>
                </div>
                <div class="text-center">
                    <button [disabled]="loading" type="submit" class="btn btn-primary text-center">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Resetează parola
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>